.container {
  flex: 1;
  background: linear-gradient(
      to right,
      rgba(9, 29, 31, 0.5),
      rgba(255, 69, 0, 0.5)
    ),
    url("/images/LoginBG.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.down {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.line {
  background: currentColor;
  width: 120px;
  height: 2px;
  border-radius: 4px;
}
@media (max-width: 497px) {
  .down {
    text-align: center;
  }
  .line {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .down {
    gap: 0.25rem;
  }
}
