.container {
  z-index: 1;
  flex: 1;
  height: 100%;
  background-color: white;
}

.circle {
  position: fixed;
  height: 65vh;
  width: 65vh;
  right: 0;
  top: 50%;
  transform: translate(40%, -50%);
}

@media (max-width: 497px) {
  .container {
    display: none;
  }
}
