.item {
  height: 349px;
}
.posterContainer {
  height: 100%;

  width: 230px;
  position: relative;
  top: 0;
  left: 20px;
  z-index: 9999;
}

.poster {
  height: 100%;

  width: 100%;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.overview {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(42, 50, 57);
  padding: 2rem;
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
  max-width: 100%;
  overflow: auto;
  border-radius: 20px;
}

.item:hover .overview {
  transform: translateY(0);
}

.overview h4 {
  margin-top: 0;
}

.about {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.overview button {
  border: none;
  background-color: orangered;
  color: white;
  position: absolute;
  bottom: 10px;
  width: 160px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
}

.overview button:hover {
  background-color: rgba(255, 68, 0, 0.649);
}
