.container {
  display: flex;
  color: white;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 50px;
  gap: 4em;
}
.backBtn {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
}
.backBtn i {
  color: rgba(255, 255, 255, 0.892);
  font-size: 40px;
}
.backBtn i:hover {
  color: rgba(255, 68, 0, 0.815);
}
.poster {
  border-radius: 10px;
  width: 400px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.title {
  font-size: 2rem;
}
.rating {
  font-size: 25px;
  display: flex;
  gap: 10px;
}
.overview {
  font-size: 20px;
  width: 400px;
  color: rgba(255, 255, 255, 0.707);
}

.watchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.855);
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  height: 50px;
  align-self: center;
}

.watchBtn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.808);
}

@media (max-width: 1000px) {
  .container {
    margin-left: 50px;
  }
  .poster {
    width: 40%;
  }
  .details {
    width: 60%;
  }
  .overview {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .container {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .poster {
    width: 60%;
  }
  .details {
    width: 60%;
  }
  .overview {
    width: 100%;
  }
}
