.movieBox {
  display: grid;
  margin: 0 auto;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}
.movieThumb {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.posterContainer {
  height: 100%;
  transition: all 400ms ease-out;
}
.posterContainer:hover {
  transition: all 400ms ease-in-out;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
.posterContainer a {
  text-decoration: none;
}

.posterContainer img {
  height: 100%;
}

.poster {
  width: 100%;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.title {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.pagination button {
  font-size: 15px;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  transition: all 0.5s;
}

.pagination button:hover {
  color: #000000;
  background-color: #ffffff;
}
.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 450px) {
  .movieBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 650px) {
  .movieBox {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 850px) {
  .movieBox {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1050px) {
  .movieBox {
    grid-template-columns: repeat(5, 1fr);
  }
}
