.leftSide {
  flex: 1;
  background: linear-gradient(
      to right,
      rgba(9, 29, 31, 0.5),
      rgba(255, 69, 0, 0.5)
    ),
    url("/images/background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.leftSize-down {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.line {
  background: currentColor;
  width: 120px;
  height: 2px;
  border-radius: 4px;
}
