.rightSide {
  z-index: 1;
  flex: 1;
  height: 100%;
}

.copyRight {
  margin-top: auto;
  text-align: right;
}

/* .center {
  position: absolute;
  background: white;
  border: 45px solid orangered;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  top: 25%;
  left: 85%;
  opacity: 0.5;
} */

/* 
.bigCircle {
  position: absolute;
  background: transparent;
  border: 1px solid orangered;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  top: 15%;
  left: 80%;
  opacity: 0.5;
} */
