.footer {
  position: absolute;
  width: 100%;
  background-color: rgb(42, 50, 57);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.logo {
  width: 200px;
}
.block {
  margin: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.list {
  flex: 1;
  display: flex;
  list-style: none;
  font-size: 17px;
}

.list li {
  margin: 0.5em;
}

.list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.list a:hover {
  color: orangered;
}
.rightside {
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
  font-size: 15px;
}

.list div {
  font-weight: bold;
}

@media (max-width: 790px) {
  .footer {
    display: block;
  }
  .rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 670px) {
  .block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .list {
    display: grid;
  }
}
